//-------------------------------------------------------------------------------//
// Allgemein //
//-------------------------------------------------------------------------------//
html, body{
	color: @brand-primary;
	font-size: @font-regular;
}

//-------------------------------------------------------------------------------//
// Branding //
//-------------------------------------------------------------------------------//
.red{
	position: fixed;
	top:0px;
	left: -2px;
	width: 167px;
	height: 143px;
	background: url(../img/red.png) no-repeat 0px 0px;
	z-index: 9999;
	
	/* Smartphone */
	@media (max-width: @screen-xs-max) {
		position: relative;
		margin-bottom: -145px;
	}
}

//-------------------------------------------------------------------------------//
// Header //
//-------------------------------------------------------------------------------//
.navbar-default{
	background: #fbb900; /* Old browsers */
	background: linear-gradient(to right,  #fbb900 0%,#f39200 100%); /* W3C */
	font-family: @font-boldcond;
	border: 0;
	padding: 0;
	margin: 0;
	min-height: inherit;
	padding-left: 120px;
	@media (min-width: @screen-md-min) and (max-width: @screen-md-max){
		padding-left: 120px;
	}
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	}
	/* Smartphone */
	@media (max-width: @screen-xs-max) {
		padding-left: 0px;
	}
	
	.navbar-nav > li{
			position: inherit;
			
			a{
				color: #fff;
				font-weight: 300;
				font-size: 18px;
				letter-spacing: 0px;
				display: block;
				padding: 10px;
				padding-left: 10px;
				padding-right: 30px;
				/* Small devices (tablets, 768px and up) */
				@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
					padding-right: 10px;
					font-size: 16px;
				}
			}
			a:hover{
				color: @brand-primary;
			}
	}
	.navbar-nav > li.current-menu-parent{
		
		.sub-menu{
			li{
				a{
					color: #fff;
				}
			}
			
			li.current-menu-item a{
				color: @brand-primary;
			}
		}
		
		a{
			color: @brand-primary;
		}
		
	}
	.navbar-nav > li:before{
		content: "";
		width: 1px;
		background: #fedb2e;
		height: 25px;
		position: absolute;
		bottom:0px;
		/* Smartphone */
		@media (max-width: @screen-xs-max) {
			display: none;
		}
	}
	.navbar-nav > li:hover{
		.sub-menu{
			display: block;
			position: absolute;
			/* Smartphone */
			@media (max-width: @screen-xs-max) {
				position: relative;
			}
		}
	}

	.navbar-toggle{
		border: 0;
		border-radius: 0;
		background: #e3003d;
		
		span.icon-bar{
			color: #fff;
			background-color: #fff;
		}
	}
	.navbar-collapse{
		border-color: #fff; 
	}
	
	.sub-menu{
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		background: #f39200;
		background: linear-gradient(to bottom,  #fbb900 0%,#f39200 100%); /* W3C */
		width: 300px;
		
		/* Smartphone */
		@media (max-width: @screen-xs-max) {
			display: block;
			position: relative;
			width: 100%;
		}
		
		
		li{
			background: transparent;
			border-bottom: 1px solid #fff;
			a{
				background: transparent;
				display: block;
				width: 100%;
				font-size: 14px;
				padding-bottom: 5px;
				padding-top: 5px;
				line-height: 15px;
				&:hover{
					text-decoration: none;
				}
			}
			&:last-child{
				border-bottom: 0;
			}

		}

	}
	

}

//-------------------------------------------------------------------------------//
// Intro //
//-------------------------------------------------------------------------------//
#intro{
	background: linear-gradient(to bottom, rgba(255, 196, 0, 1) 0%,#ffffff 100%); /* W3C */
	text-align: center;
	padding-top: 30px;
	
	.welcome{
		
		position: relative;
		z-index: 40;
		
		h1{
			font-size: 100px;
			font-family: @font-boldcond;
			text-shadow: 0px 0px 30px #fff, 0px 0px 30px #fff, 0px 0px 30px #fff, 0px 0px 30px #fff;
			margin: 0;
			padding: 0;
			letter-spacing: -2px;
			/* Smartphone */
			@media (max-width: @screen-xs-max) {
				font-size: 60px;
				display: block;
				margin-top: 30px;
			}
			
		}
		h2{
			font-size: 36px;
			text-shadow: 0px 0px 30px #fff, 0px 0px 30px #fff, 0px 0px 30px #fff, 0px 0px 30px #fff;
			font-family: @font-boldcond;
			margin: 0;
			padding: 0;
			letter-spacing: -1px;
			/* Smartphone */
			@media (max-width: @screen-xs-max) {
				font-size: 20px;
			}
		}

	}	
	
	
	.personen{
		margin-top: -60px;
		
		img{
			max-width: 100%;
			height: auto;
		}
		
		.person{
			background: url(../img/person_glow.png) center top no-repeat;
			background-size: 100%;
			text-align: center;
			.content{
				padding-top: 130px;
				/* Small devices (tablets, 768px and up) */
				@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
					padding-top: 80px;
				}
			}
		}
		.frau{
			.content{
				/* Small devices (tablets, 768px and up) */
				@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
					padding-top: 90px;
				}
			}
		}
		.mann{
			.content{
				padding-top: 90px;
				/* Small devices (tablets, 768px and up) */
				@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
					padding-top: 70px;
				}
			}
		}
		.kind{
			.content{
				padding-top: 150px;
				@media (min-width: @screen-md-min) and (max-width: @screen-md-max){
					padding-top: 130px;
				}
				/* Small devices (tablets, 768px and up) */
				@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
					padding-top: 90px;
				}
			}
		}
		
	}

}

//-------------------------------------------------------------------------------//
// Unterseite //
//-------------------------------------------------------------------------------//
.content-page{
	background: url(../img/sun.png) no-repeat right top;
	background-size: contain;
	font-family: @font-regular;
	font-size: 18px;
	line-height: normal;
	
	.content-holder{
		margin-bottom: 90px;
		
		span.blue, h2{
			font-size: 22px;
			font-family: @font-boldcond;
			line-height: 20px;
		}
		li{
			margin-bottom: 15px;
		}
		
		b, strong{
			font-family: @font-boldcond;
			font-weight: normal;
		}
		.table{
			margin: 20px 0px;
			
			tr:nth-child(odd) td, tr:nth-child(odd) td{
				background: #fff;
				&:hover{
					td{
						background: none;
					}
				}
			}
			
			th{
				font-family: @font-boldcond;
			}
			
		}
		.easy-table tbody tr:hover td, .easy-table tbody tr:hover th{
			background: none;
		}
		
		
		h1{
			font-family: @font-boldcond;
			display: block;
			width: 100%;
			text-align: center;
			margin: 50px 0px;
			font-size: 60px;
			text-shadow: 0px 0px 30px #fff, 0px 0px 30px #fff, 0px 0px 30px #fff, 0px 0px 30px #fff;
			/* Smartphone */
			@media (max-width: @screen-xs-max) {
				font-size: 40px;
			}
	
		}
		
		.anfrage{
			margin-top: 30px;
			margin-bottom: 200px;
			input{
				border-radius: 0;
				&.button{
					display: block;
					width: 100%;
					padding: 20px;
					font-family: @font-boldcond;
					font-size: 16px;	
				}
			}
			li{
				&.vorname{
					float: left;
					padding-right: 5px;
					width: 50%;
				}
				&.nachname{
					float: left;
					padding-left: 5px;
					width: 50%;
				}
				&.email{
					float: none;
					clear: both;
					display: block;
				}
			}
			textarea{
				border-radius: 0;
				resize: none;
			}
			label{
				font-family: @font-boldcond;
				font-weight: normal;
			}
			
		}

		
		
	}
}

//-------------------------------------------------------------------------------//
// Footer //
//-------------------------------------------------------------------------------//
footer{
	margin-top:-100px;
	position: relative;
	margin-bottom: 40px;
	font-size: 11px;
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
		margin-top: -80px;
	}
	/* Smartphone */
	@media (max-width: @screen-xs-max) {
		text-align: center;
	}
	
	img{
		max-width: 100%;
		height: auto;
	}
	
	.welle{
		position: relative;
		img{
			max-width: 100%;
			height: auto;
		}
		.packshot{
			position: absolute;
			right: 0px;
			top:0px;
			/* Small devices (tablets, 768px and up) */
			@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
				width: 300px;
			}
			/* Smartphone */
			@media (max-width: @screen-xs-max) {
				position: relative;
				top:-50px;
				text-align: center;
				width: 100%;
			}
			
		}
	}
	.copyright{
		padding-top: 80px;
		/* Smartphone */
		@media (max-width: @screen-xs-max) {
			padding-top: 0px;
			padding-bottom: 30px;
		}
	}
	.logo{
		text-align: right;
		padding-top: 60px;
		/* Smartphone */
		@media (max-width: @screen-xs-max) {
			text-align: center;
			padding-top: 0px;
			
		}
	}
	
}

//-------------------------------------------------------------------------------//
// Sonstiges //
//-------------------------------------------------------------------------------//
::selection{
	color: #fff;
	background: #fbba00;
}