// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@brand-primary:         #004c93;


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";

//-------------------------------------------------------------------------------//
// Fonts //
//-------------------------------------------------------------------------------//
@font-boldcond: "texgyreheroscnbold";
@font-regular:	"texgyreheroscnregular";
@font-face {
    font-family: 'texgyreheroscnbold';
    src: url('../fonts/texgyreheroscn-bold-webfont.eot');
    src: url('../fonts/texgyreheroscn-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreheroscn-bold-webfont.woff') format('woff'),
         url('../fonts/texgyreheroscn-bold-webfont.ttf') format('truetype'),
         url('../fonts/texgyreheroscn-bold-webfont.svg#texgyreheroscnbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'texgyreheroscnregular';
    src: url('../fonts/texgyreheroscn-regular-webfont.eot');
    src: url('../fonts/texgyreheroscn-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreheroscn-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreheroscn-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreheroscn-regular-webfont.svg#texgyreheroscnregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

